.home {

    //hero section
    .hero {
        &__title {
            max-width: 710px;
            padding: 120px 0;

            @media (max-width: $tab) {
                max-width: 288px;
                padding: 64px 0 40px;
            }
        }
    }

    //hero section end

    //slider section
    .slider {
        margin: 0px 0px 55px;
        &__container {
            display: flex;
            justify-content: center;
            gap: 32px;
            overflow: scroll;
            padding: $conteiner-size;

            &::-webkit-scrollbar {
                display: none;
                justify-content: flex-start;
            }

            @media (max-width: $tab) {
                gap: 16px;
            }
        }

        &__item {
            max-width: 544px;

            @media (max-width: $tab) {
                max-width: 257px;
                max-height: 295px;
            }
        }

        &__img {
            max-width: 544px;

            @media (max-width: $tab) {
                max-width: 257px;

            }
        }
    }

    //slider section end
}
.info{
    margin: 0px 0px 128px;

    
    @media (max-width: $tab) {
        margin: 0px 0px 48px;
    }

    &__container{
        display: flex;
        gap: 210px;

        @media (max-width: $tab) {
            display: block;
            gap: 48px;
        }
    }

    &__block{

    }

    &__title{
        @media (max-width: $tab) {
            font-size: 19px;
            max-width: 273px;
            margin: 0px 0px 28px;
        }
    }
    &__title:last-of-type{
        margin: 0px 0px 48px;

        
        @media (max-width: $tab) {
            margin: 0px 0px 28px;
        }
    }

    &__arrow{
        @media (max-width: $tab) {
            margin: 0px 0px 48px;
        }
    }

    &__text{
        max-width: 480px;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        margin: 0px 0px 40px;

        @media (max-width: $tab) {
            max-width: 100%;
            margin: 0px 0px 42px;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: 0.05em;
        }
    }
    &__text:last-of-type{
        margin: 0px 0px 75px;

        @media (max-width: $tab) {
            margin: 0px 0px 48px;
        }
    }
}
.latest
{
    margin: 0px 0px 128px;

    @media (max-width: $tab) {
        margin: 0px 0px 64px;

    }
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__title-block{
        display: flex;
        flex-direction: row;
        margin: 0px 0px 40px;
        @media (max-width: $tab) {
            flex-direction: column;

        }
    }
    &__title{
        width: 319px;
        margin: 0px 701px 0px 0px;
    }
    &__view-link{
        display: flex;
        align-items: baseline;
        gap: 8px;
    }
    &__view-all-arrow{
        max-width: 24px;
        max-height: 12px;
    }
    &__item-block-container{
        display: flex;
        gap: 34px;

        @media (max-width: $tab) {
            flex-direction: column;

        }
    }
    &__item-block{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        gap: 24px;
    }
    &__details{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 88px;
    }
    &__post-name{

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}