.blog
{
    margin: 130px 0px 96px;
    @media (max-width: $tab){
        margin: 64px 0px 58px;
    }
}
.latest-post
{
    margin: 0px 0px 114px;
    @media (max-width: $tab){
        margin: 64px 0px 64px;
    }
    &__container{
        display: flex;
        flex-direction: row;
        gap: 68px;
        @media (max-width: $tab){
            justify-content: center;
            flex-direction: column;
            gap: 16px;
        }
    }
    &__img{
        max-width: 470px;
        @media (max-width: $tab){
            max-width: 100vw;
        }
    }
    &__description{
        display: flex;
        flex-direction: column;
        max-width: 420px;
        @media (max-width: $tab){
            max-width: 100vw;
        }
    }
    &__title{
        margin: 0px 0px 16px;
    }
    &__details{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: $color-details;
    margin: 0px 0px 24px;
    }
    &__details:last-of-type{
        margin: 0px 0px 48px;
        @media (max-width: $tab){
            margin: 0px 0px 24px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.05em;
        margin: 0px 0px 94px;
        @media (max-width: $tab){
            margin: 0px 0px 64px;
        }
    }
    &__slider{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 24px;
    }
    &__slider-link{
        font-weight:400;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: $color-black;
    }
    &__slider-link:first-of-type{
        color: $color-details;
    }
}